/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.slider {
    margin-top: 7px;
}

sup {
    vertical-align: middle;
}

.g-recaptcha {
    transform-origin: left top;
    -webkit-transform-origin: left top;
}

.google-maps {
    position: relative;
    padding-bottom: 65%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 10px;
    border: 0;
}

.horizontal_icons {
    display: inline
}

.navbar-fixed {
    z-index: 999;
}